title: DLIP sequence diagrame
email: p.l.edwards@leeds.ac.uk
description: >- # this means to ignore newlines until "baseurl:"
  
baseurl: "/docs" # the subpath of your site, e.g. /blog
url: "https://uol-dlip.github.io" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: 
github_username:  jekyll

# Build settings
markdown: kramdown
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
  - sequence-diagrams
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
